html {
    background: url('images/moraine_lake_full.jpg') fixed;
    font-size: 23px;
    
}

body {
    background-color: rgb(255,255,255,0.97);
    width: 900px; 
    margin: 0 auto; 
    padding: 50px 100px; 
    padding-bottom: 200px; 
     
}

input {
    font-size: 23px; 
}

button {
    font-size: 23px; 
    border-radius: 20px; 
    padding: 5px 17px; 
    background-color: rgb(211, 241, 248);
    
}

html, input, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

